################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/bin/Debug/net5.0
/Core/.vs/OnlineShop
/Core/obj
